<h1>Editing Quiz</h1>

<%= render 'form', quiz: @quiz %>

<h2>Question:</h2>

<%= render @quiz.questions %>


<h1>Add questions</h1>

<%= render 'questions/form' %>

<%= link_to 'Show', @quiz %> |
<%= link_to 'Back', quizzes_path %>
