<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz.description %>
</p>

<p>
  <strong>Requested time:</strong>
  <%= @quiz.requested_time %>
</p>

<h2>Questions:</h2>
    <%= render @quiz.multiple_choice_questions, partial: 'multiple_choice_question' %>
    <%= render @quiz.single_choice_questions, partial: 'single_choice_question' %>
    <%= render @quiz.long_text_questions, partial: 'long_text_question' %>
    <%= render @quiz.short_text_questions, partial: 'short_text_question' %>

<%= link_to 'Destroy', @quiz, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
