<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quizes</title>
</head>
<body>
<h1>Quizes</h1>
<table>
  <thead>
  <tr>
    <th>title</th>
    <th>description</th>
    <th>requested_time</th>
    <th>user_id</th>
    <th>question_id</th>
  </tr>
  </thead>

  <tbody>
  <% @quizes.each do |quiz| %>
    <tr>
      <td><%= quiz.title %></td>
      <td><%= quiz.description %></td>
      <td><%= quiz.requested_time %></td>
      <td><%= quiz.user_id %></td>
      <td><%= quiz.question_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>